{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
    <section id="login">
        <div class="container">
            <h2>Autenticacion</h2>
            {% load crispy_forms_tags %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Entrar">
                <a href="{% url 'social:begin' 'facebook' %}" type="button" class="btn btn-outline-primary"><img src="{% static 'core/img/face-icon.png' %}" style="width: 4vh;" >Login con facebook</a>
            </form>
        </div>
    </section>
{% endblock contenido %}
    
