{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
    {% load crispy_forms_tags %}
    <section id="registro">
        <div class="container">
            <h2>Registro de Usuario</h2>
            <form action="" method="POST">
                {% csrf_token %} {{ form|crispy }}
                    <input type="reset" value="Limpiar" class="btn btn-info">
                    <input class="btn btn-primary" type="submit" value="Registrar">
            </form>
        </div>
    </section>
{% endblock %}