<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrate</title>
</head>

<body>
    {% load crispy_forms_tags %}
    <div class="container">
        <h2>Registro de Usuario</h2>
        <form action="" method="POST">
            {% csrf_token %} {{ form|crispy }}

            <div class="float-right">
                <input type="reset" value="Limpiar" class="btn btn-info">
                <input type="submit" value="Registrar" class="btn btn-sucess">
            </div>
        </form>
    </div>
</body>

</html>