<!DOCTYPE html>
<html lang="es">
{% load pwa %} {% progressive_web_app_meta %} {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block css %} {% endblock css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Floreria</title>
<!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyA57Ps0lyaVXkQack1jd3E6kSrVZx7fHg8",
            authDomain: "floreria-e7984.firebaseapp.com",
            databaseURL: "https://floreria-e7984.firebaseio.com",
            projectId: "floreria-e7984",
            storageBucket: "floreria-e7984.appspot.com",
            messagingSenderId: "52219613875",
            appId: "1:52219613875:web:e39023e9a6eee3650416c6"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        let messaging = firebase.messaging();
        navigator.serviceWorker
        .register('./serviceworker.js')
        .then(function(register) {
            messaging.useServiceWorker(register);

            messaging.requestPermission()
            .then(function() {
                console.log("El usuario ha aceptado recibir notificaciones")
                return messaging.getToken();
            })
            .then(function(token) {
                console.log(token);
                //enviar el token hacia django para guardarlo en la base de datos
                fetch('guardar-token/',{
                    method:'post',
                    headers:{
                        'Content-Type':'application/json',
                        'Accept':'application/json'
                    },
                    body:JSON.stringify({
                        'token':token
                    })
                })
                .then(function(resultado){
                    console.log("Se ha guardado el token")
                })
                .catch(function(e){
                    console.log("No se ha podido guardar el token")
                })
            })
            .catch(function(e) {
                console.log("El usuario no ha aceptado: " + e)
            })
        }) 
            
        messaging.onMessage(function(payload) {
            console.log("Ha llegado una notificacion")
            let data = payload;
            console.log(data);

            let titulo = payload.notification.title;
            let opciones = {
                body: payload.notification.body,
                icon: payload.notification.icon
            }
            let mensaje = new Notification(titulo, opciones);
        });
    </script>
</head>

<body>
    <header>
        <div class="menu">
            <div class="contenedor" id="contenedor-menu">
                <img class="menu-icon" src="{% static 'core/img/icon.png' %}" alt="">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'core:home' %}"><img id="logo" src="{% static 'core/img/FlorLoto.png' %}"></a>
                        </li>
                        <li>
                            <a href="{% url 'core:galeria' %}">Flores</a>
                        </li>
                        <li>
                            <a href="{% url 'core:nueva_flor' %}">Nuevo Producto</a>
                        </li>
                        <li>
                            <a href="{% url 'core:listado_flores' %}">Listado de Flores</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">Usuario: {{ user.username }}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Cerrar Sesion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">Iniciar Sesion</a>
                        </li>
                        <li>
                            <a href="{% url 'core:registro_usuario' %}">Registrar</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block contenido %} {% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $(window).scroll(function() {
            scroll = $(window).scrollTop();
            if (scroll > 100) {
                $('.menu').css({
                    "position": "fixed"
                });
                $('.menu').css({
                    "width": "100%"
                });
                $('.menu').css({
                    "top": "0"
                });
                $('.menu').css({
                    "z-index": "100"
                });
            }
        })
        $('.menu-icon').click(function() {
            $('header nav').slideToggle();
        })
    })
</script>
{% block javascript %} {% endblock javascript %}
<footer>
    <div class="contenedor">
        <p>
            Enviamos arreglos florales a domicilio para cumpleaños, aniversarios, nacimientos y defunciones en las siguientes comunas de la Región Metropolitana
        </p>
        <center>
            <p>Copyright © 2019 Todos los derechos reservados</p>
        </center>
    </div>
</footer>

</html>