<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% block css %} {% endblock css %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <title>Floreria</title>
</head>

<body>
    <header>
        <div class="menu">
            <div class="contenedor" id="contenedor-menu">
                <img class="menu-icon" src="{% static 'core/img/icon.png' %}" alt="">
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'home' %}"><img id="logo" src="{% static 'core/img/FlorLoto.png' %}"></a>
                        </li>
                        <li>
                            <a href="{% url 'galeria' %}">Flores</a>
                        </li>
                        <li>
                            <a href="{% url 'nueva_flor' %}">Nuevo Producto</a>
                        </li>
                        <li>
                            <a href="{% url 'listado_flores' %}">Listado de Flores</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="#">Usuario: {{ user.username }}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Cerrar Sesion</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">Iniciar Sesion</a>
                        </li>
                        <li>
                            <a href="{% url 'registro_usuario' %}">Registrar</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block contenido %} {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $(window).scroll(function() {
            scroll = $(window).scrollTop();
            if (scroll > 100) {
                $('.menu').css({
                    "position": "fixed"
                });
                $('.menu').css({
                    "width": "100%"
                });
                $('.menu').css({
                    "top": "0"
                });
                $('.menu').css({
                    "z-index": "100"
                });
            }
        })
        $('.menu-icon').click(function(){
            $('header nav').slideToggle();
        })
    })
</script>
{% block javascript %} 
{% endblock javascript %}
<footer>
    <div class="contenedor">
        <p>
            Enviamos arreglos florales a domicilio para cumpleaños, aniversarios, nacimientos y defunciones en las siguientes comunas de la Región Metropolitana
        </p>
        <center>
        	<p>Copyright © 2019 Todos los derechos reservados</p>
        </center>
    </div>
</footer>

</html>