{% extends "core/base.html" %}
{% load static %}

{% block contenido %}

<section id="productos">
        <div class="contenedor">
            <h3>Productos</h3>
            <div class="contenedor-productos">
                <div class="producto">
                    <img src="{% static 'core/img/1.jpg' %}">
                    <ul>
                        <li>Pollo</li>
                        <li>Super Pollo</li>
                        <li>$2300</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/2.jpg' %}">
                    <ul>
                        <li>Cervezas</li>
                        <li>Pack 6 Royal</li>
                        <li>$2990</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/3.jpg' %}">
                    <ul>
                        <li>Cola Cao</li>
                        <li>Leche Chocolate</li>
                        <li>$1490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/4.jpg' %}">
                    <ul>
                        <li>Alitas de Pollo</li>
                        <li>Super Pollo</li>
                        <li>$4990</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/5.jpg' %}">
                    <ul>
                        <li>Chocolate</li>
                        <li>Herseys Variedades</li>
                        <li>$1990</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/6.jpg' %}">
                    <ul>
                        <li>Kukys</li>
                        <li>Galletas McKay</li>
                        <li>$890</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/7.jpg' %}">
                    <ul>
                        <li>Morocha</li>
                        <li>Gallera Morocha Retro</li>
                        <li>$1490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/8.jpg' %}">
                    <ul>
                        <li>Oreo</li>
                        <li>Galleta Oreo Variedades</li>
                        <li>$990</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/9.jpg' %}">
                    <ul>
                        <li>Papas Lays</li>
                        <li>Papas Lays Variedades</li>
                        <li>$1490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/10.jpg' %}">
                    <ul>
                        <li>Pechuga</li>
                        <li>Super Cerdo</li>
                        <li>$4490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/11.jpg' %}">
                    <ul>
                        <li>Philadelfia</li>
                        <li>Queso Crema 400gr</li>
                        <li>$3990</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/12.jpg' %}">
                    <ul>
                        <li>Té Supremo</li>
                        <li>Té Supremo Variedades</li>
                        <li>$1890</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/13.jpg' %}">
                    <ul>
                        <li>Twistos</li>
                        <li>Tostaditas Twistos</li>
                        <li>$990 </li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/14.jpg' %}">
                    <ul>
                        <li>Alitas</li>
                        <li>Super Pollo 400gr</li>
                        <li>$3490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/15.jpg' %}">
                    <ul>
                        <li>Wiskas</li>
                        <li>Comida para Gatos</li>
                        <li>$1490</li>
                    </ul>
                </div>
                <div class="producto">
                    <img src="{% static 'core/img/16.jpg' %}">
                    <ul>
                        <li>Frac</li>
                        <li>Galletas Frac</li>
                        <li>$490</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}