{% extends "core/base.html" %} {% load crispy_forms_tags %} {% block contenido %}
<section id="modificar-flor">
    <div class="contenedor">
        <h2>Modificar Flor</h2>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %} {{form|crispy}}

            <input type="reset" value="Limpiar" class="btn btn-secondary">
            <input type="submit" value="Modificar" class="btn btn-primary" style="padding=0">
        </form>
        <div class="alert alert-success" role="alert">
            {{ mensaje }}
        </div>

    </div>
</section>

{% endblock contenido %}