{% extends "core/base.html" %}

{% load crispy_forms_tags %}

{% block contenido %}
<div class="contenedor">
    <h2>Producto Nuevo</h2>
    
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
            {{ form | crispy }}
    
        <div class="float-right">
            <input type="reset" value="Limpiar" class="btn btn-info">
            <input type="submit" value="Guardar" class="btn btn-sucess">
        </div>
    </form>
    
    {{ mensaje }}
</div>

{% endblock contenido %}